body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

h1,
h2,
h3 {
  color: #333;
}

#item_header {
  color: black;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px; /* Add margin for spacing */
}

#auction_page_item,
#bid,
#item_info {
  background-color: white; /* Neutral background */
  text-align: center;
  padding: 20px;
  margin: 10px auto; /* Center align the divs */
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 5px;
}

input[type="text"],
button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  background-color: lightgreen; /* Neutral button color */
  color: black;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #c0c0c0; /* Slightly darker on hover */
}

.browsehappy {
  color: #333;
  text-align: center;
  padding: 10px 0;
  background-color: #e9ecef; /* Neutral warning background */
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd; /* Subtle border for image */
}

a {
  display: inline-block;
  margin: 10px;
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
