body {
  background-color: cornflowerblue;
  color: white;
}

.title {
  /*width: 90px; 
  height: 20px; 
  left: 4px; 
  top: 5px; 
  position: absolute; */
  text-align: left;
  color: black;
  font-size: 24px;
  /*font-family: Inter; 
  font-weight: 400; 
  word-wrap: break-word"*/
}

.contents {
  display: flex;
  justify-content: space-around;
  height: 78%;
}

.user-list {
  width: 20%;
  background-color: lightgreen;
  padding: 20px;
  color: black;
}

.buttons {
  background: #d9d9d9;
  border: 1px black solid;
  position: absolute;
  top: 1.5%;
  right: 5%;
  display: flex;
  align-items: center;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #139465;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 175px;
}

.buttons button:hover {
  background-color: #5e746c;
}

#settled-listings {
  height: 100%;
  width: 70%;
  /*background-color: aqua;*/
  /*padding: 20px;*/
  background-color: lightcyan;
  color: black;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*flex-grow: 1;*/
}

#settled-listings-title {
  text-align: center;
  font-size: 30px;
  color: black;
  padding: 20px 0;
}
