body {
  background-color: #232323;
  color: white;
}

.my_image {
  width: 120px;
}

#title-text-box {
  height: 20px;
  width: 800px;
  background-color: white;
  overflow: auto;
  border: 1px solid black;
}

#title-text-box-text {
  color: black;
}

#description-text-box {
  height: 40px;
  width: 800px;
  background-color: white;
  overflow: auto;
  border: 1px solid black;
}

#description-text-box-text {
  color: black;
}

body {
  background-color: #000000;
  color: white;
}

.my_image {
  height: 100%;
}

.image_div {
  height: 80%;
}

img.post {
  width: 120px;
}

.title {
  height: 5%;
}

.header {
  display: flex;
  /*justify-content: space-around;*/
  background-color: #f6f1f1;
  color: black;
  height: 17%;
  align-items: center;
}

.contents {
  display: flex;
  justify-content: space-around;
  height: 78%;
}

.chat {
  /*height:100%;*/
  width: 70%;
  background-color: #146c94;
  padding: 20px;
  /*overflow: scroll;*/
}

.video-chat {
  background-color: #158cb4;
  padding: 20px;
}

#chat-messages {
  height: 65%;
  /*width: 70%;*/
  /*background-color: aqua;*/
  /*padding: 20px;*/
  overflow: scroll;
}

.chat-form {
  /*width: 70%;*/
  /*background-color: aqua;*/
  /*padding: 20px;*/
  /*overflow: scroll;*/
  height: 50px;
}

.user-list {
  width: 30%;
  background-color: #19a7ce;
  padding: 20px;
}

.header > div {
  padding: 20px;
}

.webrtc-video {
  width: 100%;
}
